.main-demo-hero {
  background: url(../images/oikos/banner_img.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.hero-lead{
    background: url(../images/oikos/modulo_geometrico_img00.png) no-repeat;
    background-size: 450px;
    background-position: center center;
    position: absolute;
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 45%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.cover-text{
    color: white;
    text-transform: none;
    font-size: 0.5em;
}

.navbar-trans .navbar-logo-dark {
  content: url(../images/oikos/logo.png);
}
.main-demo-hero .bg-overlay {
    background: initial;
}
.main-demo-hero .hero-content-wrapper {
    padding: initial
}

.pricing-tables .p-table .banner{
    padding-top: 10px;
}

.logo-big{
    max-width: 100%;
}

.map-container{
    padding-top: 70px;
    padding-bottom: 0;
}

.map-container .subheading{
    font-size: 3em;
    font-weight: bold;
    color: white;
    line-height: 1.3em;
}

.about-header,
.faq-header{
    text-align: center;
}
.about-header h3{
    color: #9c8d8d;
}
.about-slider{
    text-align: center;
}

.oikos-gray-module img{
    width: 300px;
    height: 300px;
    display: inline-block;
    margin: 10px 0;
}

.about-text{
    text-align: left;
    min-height: 320px;
    display: flex;
    align-items: center;
}
.about-text .content h1{
    color: #3f246b;
}
.about-text .content .description,
.faq-answer{
    font-size: 1.2em;
}

.about-section{
    margin: 70px 0;
}

.faq-purple-section{
    background-color: #201030;
}

.faq-purple-section h3,
.purple-bg h3{
    color: #9c8d8d;
}

.faq-purple-section p,
.faq-purple-section h1{
    color: #fbfbfb;
}
.faq-header{
    padding: 10px 0;
}

.faq-container{
    min-height: 200px;
    display: flex;
    align-items: center;
}

.faq-question{
    text-transform: uppercase;
    font-size: 1.8em;
    margin-bottom: 20px;
    font-weight: bold;
    background: -webkit-linear-gradient(left, #85278f, #2c1554);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.faq-purple-section .faq-question{
    background: -webkit-linear-gradient(left, #e88ff3, #9580b9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.purple-bg{
    background-color: #160924;
}

.cta-link .bg-overlay{
    background-color: rgba(67, 42, 96, 0.5)
}

.oikos-talk-to-us{
    height: 350px;
    background-image: url(/assets/images/oikos/homeless_001.jpg);
    background-position: center;
    display: flex;
    align-items: center;
    text-align: center;
}


.talk-to-us-content h1,
.talk-to-us-content h3,
.talk-to-us-content span{
    color: white;
    padding-bottom: 20px;
}

.talk-to-us-content span{
    white-space: pre-line;
}

.talk-to-us-content h1{
    font-size: 2em;
}

.oikos-talk-to-us div{
    width: 100%;
}

.dark-purple-bg{
    background-color: #2f213d;
}

.copyright{
    background-color: #3e334b;
}

.copyright,
.copyright .to-the-top{
    color: white;
}

.navbar .btn-round{
    position: absolute;
    right:0;
    margin: 20px 0;

}

.navbar.navbar-small{
    min-height: 60px;
}

.navbar-small .navbar-nav,
.navbar-small .navbar-header{
    margin-top: 3px;
}

.navbar-small .btn-round{
    margin-top: 12px;

}
.navbar-small .btn-round,
.mobile-nav .btn-round{
    color: #201030;
    border-color: #201030;
}

.navbar-small .btn-ghost-light:hover,
.mobile-nav .btn-ghost-light:hover{
    color: #ececec;
}

.navbar-small .btn-ghost-light:after,
.mobile-nav .btn-ghost-light:after{
    background: #201030;
}

.mobile-nav .btn-round{
    position: relative;
}



@media (min-width: 1264px) {
    .navbar .navbar-nav {
      display: inline-block;
      float: none;
      vertical-align: top;
    }

    .navbar .navbar-collapse {
      text-align: center;
      position: absolute;
      right: 0;
      left: 0;
    }
    .navbar-trans-dark .navbar-nav li a,
    .navbar-trans-dark .navbar-nav .active > a,
    .navbar .navbar-nav li a,
    .navbar .navbar-nav .active a{
        font-weight: 500;
        font-size: 1em;
    }
    .navbar-trans-dark .navbar-nav li a,
    .navbar-trans-dark .navbar-nav .active > a{
        color: white !important;
    }
}
@media (max-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: initial;
        position: initial;
        right: initial;
        left: initial;
    }
}
@media (min-width: 992px) {
    .oikos-gray-module,
    .faq-question{
        text-align: right;
    }
}
