.main-demo-hero {
  background: url(../images/oikos/header.png);
  background-size: cover;
  background-attachment: fixed;
}
.navbar-trans .navbar-logo-dark {
  content: url(../images/oikos/logo.png);
}
.main-demo-hero .bg-overlay {
    background: initial;
}
.main-demo-hero .hero-content-wrapper {
  padding: initial
}
